
<head>

 <!-- <script src="node_modules/angular2/bundles/angular2.sfx.dev.js"></script> -->
 <!-- <script src="index.js"></script> -->
 <script>

 </script>
</head>

<div class="container-fluid">
  <div class="row">
      <!--h1 class="heading">decentralized energy </h1-->
     <h1 class="heading">Welcome to IoT-DDoS Defense using Hyperledger</h1>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row bodytext">
      <!--h3>Welcome to Decentralized Energy using Hyperledger Composer!</h3-->
      <div class="col-md-12">
        <p class="">  </p>
     <!--   <p class=""> Find more detail <a [routerLink]="['/About']" > about the application. </a> </p>-->

      </div>
    </div>

  <div class="row">
    <!-- <br> -->
  </div>

<!--  <div class="row">
    <h4> Step1 - Create and Update Participants </h4>
  </div>

    <div class="row">

    <div class="participant col-md-4">
      <p> <strong>Residents</strong> own three assets: AbnormalConn, Coins and Cash.</p>
      <a [routerLink]="['/Resident']" class=participantButton>Residents</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Banks</strong> on the network own two assets: Cash and Coins. </p>
      <a [routerLink]="['/Bank']" class="participantButton">Banks</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Target Companies</strong> own two assets: AbnormalConn and Coins. </p>
      <a [routerLink]="['/Utility']" class="participantButton">Target Companies</a>
    </div>

  </div>
</div> -->

  <!-- <div class="row">
    <h4> Step2 - Execute Transactions </h4>
  </div>

  <div class="row">

    <div class="participant col-md-4">
      <p> Execute a transaction between Residents by exchanging Coins for Energy </p>
      <a [routerLink]="['/TransactionRR']" class=participantButton>Resident to Resident</a>
    </div>

    <div class="participant col-md-4">
      <p> Execute a transaction between a Resident and a Bank by exchanging Coins for Cash </p>
      <a [routerLink]="['/TransactionRB']" class="participantButton">Resident to Bank</a>
    </div>

    <div class="participant col-md-4">
      <p> Execute a transaction between a Resident and a Utility Company by exchanging Coins for Energy </p>
      <a [routerLink]="['/TransactionRU']" class="participantButton">Resident to Utility</a>
    </div>

  </div> -->

  <!-- <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div> -->



<!-- for Energy -->
<!--
<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">energyID</label>
                <input formControlName="energyID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="targetIP">targetIP</label>
                <input formControlName="targetIP" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="value">value</label>
                <input formControlName="value" type="number" step='any' class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerID">ownerID</label>
                <input formControlName="ownerID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerEntity">ownerEntity</label>
                  <textarea formControlName="ownerEntity" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>



      </form>
    </div>
  </div>
</div> -->


<!-- <div class="modal-footer">
  <button (click)="addDDoS(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div> -->

<!--
<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">energyID</label>
                <input [ngModel]="energyID"formControlName="energyID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="targetIP">targetIP</label>
                <input [ngModel]="targetIP"formControlName="targetIP" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="value">value</label>
                <input [ngModel]="value" formControlName="value" type="number" step='any' class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerID">ownerID</label>
                <input [ngModel]="ownerID"formControlName="ownerID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerEntity">ownerEntity</label>
                  <textarea [ngModel]="ownerEntity" formControlName="ownerEntity" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div> -->


<!-- <div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>

        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>

      </form>
    </div>
  </div>
</div> -->


<div class="container-fluid">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <!-- <h1 id='assetName'>AbnormalConn Assets</h1> -->
  <div class="row">
  </div>
  <br>
  <div class="row">


    <div class="col-md-12 table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<td width="48%">
						<!-- <baidu-map [options]="options" style="display: block; width: 100%; height: 450px; align: center;"></baidu-map> -->
            <canvas #myCanvas width="900" height="500">
            </canvas>
					</td>

					<td class="spec2" width="4%"> </td>

					<td  class="allblack" width="48%" >
						<tr width="100%">
							<th class="bc text-primary bigfont" width="900" height="40">Gateway提交针对目标IP的异常连结</th>
						</tr>
						<tr width="100%">
							<td class=""  width="100%">
								<div class="pre-scrollable table-responsive">
									<table class="table table-striped table-responsive table-hover scrolltable pre-scrollable" width="100%">
										<thead>
											<tr>
												<th style="display: table-head-group;" width="20%">提交者ID</th>
												<th style="display: table-head-group;" width="30%">目标IP</th>
												<th style="display: table-head-group;" width="30%">异常类型</th>
												<th style="display: table-head-group;" width="20%">时间</th>
											</tr>
										</thead>
										<tbody> <!---style="height:100px;overflow-y: scrol;" >-->
											<tr *ngFor="let asset of allAssets">
												<!-- <div class="pre-scrollable" > -->
												<td align="center" width="20%">{{asset.ownerID}}</td>
												<td align="center" width="30%">{{asset.targetIP}}</td>
												<td align="center" width="30%">{{asset.description}}</td>
												<td align="center" width="20%">{{asset.value*1000|date:'yyyy-MM-dd HH:mm:ss'}}</td>
												<!-- Gateway {{asset.ownerID}} 提交了一条针对目标 {{asset.targetIP}} 的类型为 {{asset.description}} 的异常 -->
												<!-- </div> -->
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</td>

				</tr>

        <tr height="20"> </tr>

				<tr>

						<!-- <th class="bc text-primary allblack" width="35%">Gateway提交针对目标IP的异常连结</th>
						<th class="spec" width="5%" >  </th> -->
						<th class="bc text-primary allblack" width="48%">Gateway提交针对目标IP的DDoS预警</th>
						<th class="spec2" width="4%" >  </th>
						<th class="bc text-primary allblack" width="48%">TargetCompany提交针对Gateway的奖励</th>


				</tr>


				<tr width="100%">

							<td class="allblack active" width="48%">
								<div class="pre-scrollable table-responsive" >
								<table  class="table table-striped table-responsive table-hover scrolltable pre-scrollable" width="100%">
									<tr>
										<th align="center">提交者ID</th>
										<th align="center">目标IP</th>
										<th > 描述 </th>
										<th > 时间 </th>
									</tr>
									<tr *ngFor="let ddos of allDDoS">
										<td class=" text-primary" align="center">{{ddos.ownerID}}</td>
										<td class=" text-primary" align="center">{{ddos.targetIP}}</td>
										<td class=" text-primary" align="center">待填</td>
										<td class=" text-primary" align="center">{{ddos.time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
									</tr>
								</table>
								</div>
							</td>
							<td class="spec2"> </td>
							<td class="allblack" width="48%">
								<div class="pre-scrollable table-responsive" >
								<table  class="table table-striped table-responsive table-hover scrolltable pre-scrollable" width="100%">
									<tr>
										<th align="center">奖励发起者ID</th>
										<th align="center">奖励对象ID</th>
										<th align="center">奖励金额</th>
									</tr>
									<tr *ngFor="let log of allLog">
										<td align="center" class="text-warning">{{log.ownerID}}</td>
										<td align="center" class="text-warning">{{log.value}}</td>
										<td align="center" class="text-warning">1coin</td>
									</tr>
								</table>
								</div>
							</td>

				</tr>

			</table>


          <!-- <tr *ngIf="DDoSInfoShow" >基于共享后的异常连接进行分析...</tr>
          <tr *ngFor="let ddos of allDDoS">
                Gateway {{ddos.ownerID}} 提交了一条针对目标 {{ddos.targetIP}} 的DDoS预警
          </tr>

          <tr *ngIf="LogInfoShow" >分发奖励...</tr>
          <tr *ngFor="let log of allLog">
                TargetCompany {{log.ownerID}} 分发1coin奖励给提交者: {{log.value}}
          </tr> -->
<!-- 动态显示奖励交易 方案：
①遍历所有的交易：可以解析具体的交易函数，但是无法传入参数，因为奖励函数使用的是遍历的方式，没有给定返回值；如果用这种方法就得返回所有的异常提交者，但是只能奖励合约好像没有返回值。
②给TargetCompany增加属性：当前奖励的对象，也就是异常提交用户，也可以是一个字符串变量，但是好像就不好显示顺序实时结果，只按照遍历TargetCompany的顺序。
③创建、从而遍历奖励对象：可以是字符串变量，每创建一笔奖励交易，就创建一个奖励对象/奖励说明。

问题：
①DDoS异常的submitter是Gateway，
②奖励交易的submitter是TargetCompany，而且是谁提交，就遍历谁的targetIP的energy
  问题：正常的奖励应该是由系统自动触发的；
  解决：
    现在改为了由TargetCompany主动触发，
      触发之后，异常提交者Gateway才去在本地过滤掉通向该targetIP的流量
    Gateway提交的异常，
    Gateway提交的DDoS异常应该是

任务一：
	动态显示空间连线图
	解决：
		0.采用html5的canvas画图直接实现，较为复杂。
		①采用2D的连线图：d3.js可以直接实现
			d3.js是数据可视化的工具包
			d3.js的力导向图
			还需要进一步研究一下其example实例
		②采用3D的连线图：需要three.js才能实现
			是一些列游戏引擎之一
		③采用HT for Web 或者 html5的Qunee
技术对比：
  - canvas：使用的是即时渲染，更底层，消耗内存资源更少，适合复杂图形构建
  - svg：使用的是保留渲染

任务二：
	修改已有的区块链配置，将UtilityCompany改为TargetCompany
	解决：
		①修改angular-app下的所有项目文件
			model.cto,以及transactions.js,
		②重启网络的时候出现问题，BNA文件无法创建：
			解决：在根目录下的..acl,qry等文件是业务逻辑以及各种权限的配置，需要修改相应的位置

任务三：
	修改无法创建多个奖励的bug
	解决：
		①找到了智能合约遍历participant的函数getParticipantRegistry()
		②修改后，Log资产无法正确创建，因为Log的新增属性lastEnergyCount设置为了string，所以使用的时候要转化为int：parseInt(string_)，String(int_)

任务四：
	修改添加的矩形点的渲染和数据绑定，实现动态添加和闪烁

任务五：
	修复得到的transactions是乱序的？
	解决：通过测试，发现transactions是按照资产ID顺序进行创建，所以需要用多位数ID表示，如：0001,0002等

任务六：
	增加创建众多用户、异常连接、ddos、奖励
	解决：
		①bash的多行注释：
			:<<BLOCK‘
				注释内容
			’BLOCK
		②for循环实现添加用户
		③for循环实现添加异常连接

任务七：
	修复bug：
		当ddos交易按顺序执行，提交了2条ddos
		奖励交易发起之后，顺序问题，若先奖励了最后一条ddos，就不会去奖励上一条ddos；因为奖励每次遍历所有不现实
	解决：
		①奖励每次遍历所有～
		②
-->

    </div>

  </div>
</div>
</div>



<!-- <canvas height="620" width="1360" id="canvas"
style="position: absolute; height: 50%;"
></canvas> -->
<!-- <script src="index.js" charset="utf-8"></script> -->

<!-- <div><iframe src="./myline.html" frameBorder="0" style="width:400px;height:400px;" ></iframe></div> -->
<!-- <a [routerLink]="['/Baidu']">baidumap</a> -->
