h1 {
    font-size: 28px;
    text-align: center;
}


h3 {
    text-align: center;
}

/*for Energy*/
th {
    text-align: center;
}
.bc {
    background-color: lightblue;
}

.bigfont {
    font-size: 18px;
}
.smallfont {
    font-size: 14px;
}
th.allblack {
  border-style: solid;
  font-size: 18px;
  border-color: black black black black;
}
th.spec {
  border-style: solid;
  font-size: 18px;
  border-color: transparent transparent transparent transparent;
}
th.spec2 {
  border-style: solid;
  font-size: 18px;
  border-color: transparent black transparent transparent;
}
td.allblack {
  border-style: solid;
  font-size: 14px;
  border-color: black black black black;
}

td.spec {
  border-style: solid;
  font-size: 14px;
  border-color: transparent transparent transparent transparent;
}
td.spec2 {
  border-style: solid;
  font-size: 14px;
  border-color: transparent black transparent transparent;
}

.bodytext {
    text-align: justify;
    text-align-last: center;
    background-color: #162b79;
    color: whitesmoke;
    font-size: 16px;
    background-image: url("triangle.png");
    background-size: cover;
/*    border-style: inset;
    border-width: 2px;  */
}
.pre-scrollable {
  max-height:450px;
  overflow-y:scroll
}
.participant {
    border-style: inset;
    background-color: white;
    display: inline-block;
    /* width: 300px; */
    height: 200px;
    border-radius: 25px;
    border: 2px solid #0c2438;
    padding: 20px;
}

.participantButton {
    /* background-color: #008CBA; */
    background-color: #0c2438;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
