

<div class="container">
  <div class="row">
      <!--h1 class="heading">decentralized energy </h1-->
     <h1 class="heading">Welcome to IoT-DDoS Defense using Hyperledger</h1>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row bodytext">
      <!--h3>Welcome to Decentralized Energy using Hyperledger Composer!</h3-->
      <div class="col-md-12">
        <p class="">  </p>
     <!--   <p class=""> Find more detail <a [routerLink]="['/About']" > about the application. </a> </p>-->

      </div>
    </div>

  <div class="row">
    <br>
  </div>

<!--  <div class="row">
    <h4> Step1 - Create and Update Participants </h4>
  </div>

    <div class="row">

    <div class="participant col-md-4">
      <p> <strong>Residents</strong> own three assets: AbnormalConn, Coins and Cash.</p>
      <a [routerLink]="['/Resident']" class=participantButton>Residents</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Banks</strong> on the network own two assets: Cash and Coins. </p>
      <a [routerLink]="['/Bank']" class="participantButton">Banks</a>
    </div>

    <div class="participant col-md-4">
      <p> <strong>Target Companies</strong> own two assets: AbnormalConn and Coins. </p>
      <a [routerLink]="['/Utility']" class="participantButton">Target Companies</a>
    </div>

  </div> -->
</div>

  <!-- <div class="row">
    <h4> Step2 - Execute Transactions </h4>
  </div>

  <div class="row">

    <div class="participant col-md-4">
      <p> Execute a transaction between Residents by exchanging Coins for Energy </p>
      <a [routerLink]="['/TransactionRR']" class=participantButton>Resident to Resident</a>
    </div>

    <div class="participant col-md-4">
      <p> Execute a transaction between a Resident and a Bank by exchanging Coins for Cash </p>
      <a [routerLink]="['/TransactionRB']" class="participantButton">Resident to Bank</a>
    </div>

    <div class="participant col-md-4">
      <p> Execute a transaction between a Resident and a Utility Company by exchanging Coins for Energy </p>
      <a [routerLink]="['/TransactionRU']" class="participantButton">Resident to Utility</a>
    </div>

  </div> -->

  <!-- <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div> -->



<!-- for Energy -->

<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">energyID</label>
                <input formControlName="energyID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="targetIP">targetIP</label>
                <input formControlName="targetIP" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="value">value</label>
                <input formControlName="value" type="number" step='any' class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerID">ownerID</label>
                <input formControlName="ownerID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerEntity">ownerEntity</label>
                  <textarea formControlName="ownerEntity" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>



      </form>
    </div>
  </div>
</div>


<!-- <div class="modal-footer">
  <button (click)="addDDoS(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div> -->


<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="energyID">energyID</label>
                <input [ngModel]="energyID"formControlName="energyID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="targetIP">targetIP</label>
                <input [ngModel]="targetIP"formControlName="targetIP" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="value">value</label>
                <input [ngModel]="value" formControlName="value" type="number" step='any' class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerID">ownerID</label>
                <input [ngModel]="ownerID"formControlName="ownerID" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ownerEntity">ownerEntity</label>
                  <textarea [ngModel]="ownerEntity" formControlName="ownerEntity" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>

        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>

      </form>
    </div>
  </div>
</div>


<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <!-- <h1 id='assetName'>AbnormalConn Assets</h1> -->
  <div class="row">
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <!-- <thead class="thead">
          <tr class="thead-cols">

                <th class="bc">AbnormalConn ID</th>

                <th class="bc">Owner ID</th>

                <th class="bc">Owner Entity</th>

                <th class="bc">Object ID</th>

                <th class="bc">Time Stamp</th>

          </tr>
        </thead> -->
        <tbody  width="100%">
          <tr>
            <th width="33%">Gateway提交针对目标IP的异常</th>
            <th width="33%">Gateway提交针对目标IP的DDoS</th>
            <th width="33%">TargetCompany提交针对Gateway的奖励</th>
          </tr>

          <tr>
              <td>
                <table width="100%">
                  <tr>
                    <th align="center">提交者ID</th>
                    <th align="center">目标IP</th>
                    <th align="center">异常类型</th>
                  </tr>

                  <tr *ngFor="let asset of allAssets">
                    <td align="center">{{asset.ownerID}}</td>
                    <td align="center">{{asset.targetIP}}</td>
                    <td align="center">{{asset.description}}</td>
                    <!-- Gateway {{asset.ownerID}} 提交了一条针对目标 {{asset.targetIP}} 的类型为 {{asset.description}} 的异常 -->
                  <tr>
                </table>
              </td>

              <td>
                <table width="100%">
                  <tr>
                    <th align="center">提交者ID</th>
                    <th align="center">目标IP</th>
                    <th align="center">异常类型</th>
                  </tr>
                  <tr *ngFor="let ddos of allDDoS">
                    <td align="center">{{ddos.ownerID}}</td>
                    <td align="center">{{ddos.targetIP}}</td>
                    <td align="center">DDoS</td>
                    <!-- Gateway {{ddos.ownerID}} 提交了一条针对目标 {{ddos.targetIP}} 的DDoS预警 -->
                  </tr>
                </table>
              </td>

              <td>
                <table width="100%">
                  <tr>
                    <th align="center">奖励发起者ID</th>
                    <th align="center">奖励对象ID</th>
                    <th align="center">奖励金额</th>
                  </tr>

                  <tr *ngFor="let log of allLog">
                    <td align="center">{{log.ownerID}}</td>
                    <td align="center">{{log.value}}</td>
                    <td align="center">1coin</td>
                    <!-- TargetCompany {{log.ownerID}} 分发1coin奖励给提交者: {{log.value}} -->
                  </tr>
                </table>
              </td>

                <!-- <td>{{asset.energyID}}</td>

                <td>{{asset.ownerID}}</td>

                <td>{{asset.ownerEntity}}</td>

                <td>{{asset.targetIP}}</td>

                <td>{{asset.value}}</td> -->
          </tr>

          <!-- <tr *ngIf="DDoSInfoShow" >基于共享后的异常连接进行分析...</tr>
          <tr *ngFor="let ddos of allDDoS">
                Gateway {{ddos.ownerID}} 提交了一条针对目标 {{ddos.targetIP}} 的DDoS预警
          </tr>

          <tr *ngIf="LogInfoShow" >分发奖励...</tr>
          <tr *ngFor="let log of allLog">
                TargetCompany {{log.ownerID}} 分发1coin奖励给提交者: {{log.value}}
          </tr> -->
<!-- 动态显示奖励交易 方案：
①遍历所有的交易：可以解析具体的交易函数，但是无法传入参数，因为奖励函数使用的是遍历的方式，没有给定返回值；如果用这种方法就得返回所有的异常提交者，但是只能奖励合约好像没有返回值。
②给TargetCompany增加属性：当前奖励的对象，也就是异常提交用户，也可以是一个字符串变量，但是好像就不好显示顺序实时结果，只按照遍历TargetCompany的顺序。
③创建、从而遍历奖励对象：可以是字符串变量，每创建一笔奖励交易，就创建一个奖励对象/奖励说明。

问题：
①DDoS异常的submitter是Gateway，
②奖励交易的submitter是TargetCompany，而且是谁提交，就遍历谁的targetIP的energy
  问题：正常的奖励应该是由系统自动触发的；
  解决：
    现在改为了由TargetCompany主动触发，
      触发之后，异常提交者Gateway才去在本地过滤掉通向该targetIP的流量
    Gateway提交的异常，
    Gateway提交的DDoS异常应该是



-->

        </tbody>
      </table>
    </div>
  </div>
</div>
