

<div class="container align">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <!--<div class="row">-->
      <!--<h2> Blockchain </h2>-->
  <!--</div>-->


  <div *ngIf="performedTransactions.length == 0 && systemTransactions.length == 0" class="row">
      <h4>No transactions</h4>
    </div>

  <div *ngIf="performedTransactions.length > 0" class="row" >
    <h4>Performed Transactions</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            交易类型
          </th>
          <th>
            交易ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of performedTransactions">
          <td>
            {{transaction.transactionType}}
          </td>
          <td>
            {{transaction.transactionId}}
          </td>


        </tr>
      </tbody>
    </table>

  </div>


  <div *ngIf="systemTransactions.length > 0" class="row">
    <h1 align="center">交易信息</h1>

		<div class="row">
			<br>
		<div class="col-md-12">
    <table class="table table-striped table-bordered table-responsive table-hover">
      <thead>
        <tr class="thead-cols">
          <th class="bc">
						交易类型
          </th>
          <th class="bc">
						交易ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of systemTransactions">
          <td>
            {{transaction.transactionType}}
          </td>
          <td>
            {{transaction.transactionId}}
          </td>


        </tr>
      </tbody>
    </table>

    <!-- p *ngFor="let transaction of allTransactions">{{transaction.transactionId}}</p-->
		</div>
		</div>
  </div>


  <div class="row">
    <br>
    <br>
  </div>


</div>
